<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>简历</title>
<link rel="stylesheet" href="../css/style.css" />
<link rel="icon" href="/img/ico.ico"/>
</head>

<body>
<div id="all">
	<div id="left">
		<div class="biaoti">
        	<h1>个人简介</h1>
            <h2>SELF-INTRODUTION</h2>
        </div>
        <div class="jianjie">
        	<img src="../img/touxiang.png" style="margin:20px auto;display:block;"/>
            <p>Hello,我叫韩亚宁---------------------------------------------------------------------------------------------------------------------------------------------------------------------------。</p>
            <hr />
            <br />
            <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------。</p>
        </div>
	</div>
    <div id="right">
    	<img class="tubiao" src="../img/tubiaoyi.png" width="46" height="50" />
    	<h3>工作经历</h3>
        	<p>-------------</p>
            <br />
            <br />
            <br /><br />
            <hr /><br />
        <img class="tubiao" src="../img/tubiaoer.png" width=46px height=50px/>    
      <h3>学习经历</h3>
        	<p>-------------</p>
            <br />
            <br />
            <br /><br />
            <hr />
        <h3>技能特长</h3>
        	<p>-------------</p>
    </div>
</div>
</body>
</html>
