<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="个人主页,韩亚宁,hynkoala"/>
<title>hynkoala</title>
<link rel="stylesheet" href="../css/jianli.css"/>
<link rel="icon" href="/img/ico.ico"/>
</head>

<body>
<div id="all">
 <div id="head">
 	<div class="biaoqian">
    		<lable>
            	<a href="/koala-home/view/home.ftl" class=biaoqian_1 name="biaoqian_1">网站首页</a>
            </lable>
            <lable>
            	<a href="jianli_basicinf.html" class=biaoqian_2 name="biaoqian_2">基本信息</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_3 name="biaoqian_3">教育经历</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_4 name="biaoqian_4">工作经验</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_5 name="biaoqian_1" target=_blank>技能特长</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_5 name="biaoqian_5">成果展示</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_6 name="biaoqian_6">求职意向</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_7 name="biaoqian_7">给我留言</a>
            </lable>
            <lable>
            	<a href="#" class=biaoqian_8 name="biaoqian_8">本人声明</a>
            </lable>
    </div>



  </div>
  <a href="../others/jianli.pdf" target="new" style="display: block; margin-bottom: 5px; position: absolute; left: 14px; bottom:0px;">pdf版下载</a>
</div>

</body>
</html>
