
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言板</title>
<link rel="stylesheet" href="/css/liuyan.css"/>
<link rel="stylesheet" href="../css/header.css"/>
<link rel="stylesheet" href="../css/footer.css" />
<link rel="icon" href="../img/ico.ico"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
<script type="text/javascript" src="../jiaoben/ext/ext-all.js"></script>
</head>

<body>
<div id="header">
  <div id="banner"> </div>
  <div class="showtime">
  <!--*****显示时间*********-->
  <script language="javascript" >
  	var enabled=0;
	var today=new Date();
	var date;
	date=today.getFullYear()+"年"+(today.getMonth()+1)+"月"+today.getDate()+"日";
	//date2=day;
	document.write(date);
	document.write("<span id='clock'></span>");
	var now,hours,minutes,seconds,timeValue;
	function showtime(){
		now=new Date();
		hours=now.getHours();
		minutes=now.getMinutes();
		seconds=now.getSeconds();
		timeValue=(hours>=10)?"":"0";
		timeValue+=hours+":";
		timeValue+=((minutes<10)?"0":"")+minutes+":";
		timeValue+=((seconds<10)?"0":"")+seconds+"";
		clock.innerHTML=timeValue;
		setTimeout("showtime()",1000);
	}
		showtime();
	
	</script>
    </div>
	
  <div id="biaoqian">
    <table width="80%" height="30" border="0" id="anniu">
      <tr>
		  <td width="32"><a href="../home.html" title="首页" target="_self">首页</a></td>
        <td width="30"><a href="html/rizhi.html" title="我的日志" target="_self">日志</a></td>
        <td width="30"><a href="html/xiangce.html" title="我的相册" target="_self">相册</a></td>
        <td width="30"><a href="liuyan.html" title="给我留言" target="_self">留言</a></td>
        <td width="50"><a href="html/lianxifangshi.html" title="联系我" target="_self">联系方式</a></td>
        <td width="50"><a href="html/jianli.html" title="我的简历" target="new" >我的简历</a></td>
      </tr>
    </table>
  </div>
</div>
<div id="liuyan_content"> 
	
 <!--#include file="../alluse/header.asp"-->
 
 
 <p>
 		hahaha    给我留言
  </p>
  
  <!--使用extjs构建留言板-->
  <script>
	Ext.onReady(function(){
		Ext.create('Ext.Panel',{
			renderRo:'liuyan',
			height:200,
			width:600,
			title：'留言板'，
			
		})
	});;
	</script>
	
	<div id="liuyan"  style="float:left">
<form>
  <table width="390" border="1">
  <tbody>
    <tr>
      <td width="268"><label for="textfield">Your name:</label>
        <input type="text" name="textfield" class="textfield" /></td>
      <td><button type="submit" onClick="alert">提交</button>
      		<input type="reset" name="reset" id="reset" value="清除" />
      </td>
      
    </tr>
    <tr>
      <td colspan="2"><label for="textarea">给我留言:</label>
        <textarea name="textarea" id="textarea" cols="45" rows="10"></textarea></td>
      
    </tr>
    <tr>
      
      
    </tr>
  </tbody>
</table>
</form>
	<div id="lynr" style="float:left">
	<h3>留言内容</h3>
	<table>
		<thead>
			<th>name</th>
			<th>neirong</th>
			<th>time</th>
		</thead>
		<tbody>
			<#list>
			<tr>
				<td></td>
			</tr>
			</#list>
		</tbody>
	</table>
	</div>
	</div>
  <!--<FORM>
  <table width="411" border="1">
  <tbody>
    <tr>
      <td width="268"><label for="textfield">Your name:</label>
        <input type="text" name="textfield" class="textfield" /></td>
      <td width="92">&nbsp;</td>
      <td width="29">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><label for="textarea">给我留言:</label>
        <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><button type="submit" onClick="alert">提交</button></td>
      <td><input type="reset" name="reset" id="reset" value="清除" /></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</FORM>-->


 
 <!--#include file="../alluse/footer.asp"-->
</div>
<div id="footer">
	<p id="shengming">
		copyright &nbsp;&nbsp;   hynkoala
	</p>
</div>
</body>
</html>