<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日志</title>
<link rel="stylesheet" href="../../static/css/rizhi.css"/>
<link rel="stylesheet" href="../../static/css/header.css"/>
<link rel="stylesheet" href="../../static/css/footer.css" />
<link rel="icon" href="../../static/img/ico.ico"/>
</head>

<body>
<div id="rizhi_content">

	

<#include file="../ftl/header.ftl"/>

<#include file="../ftl/footer.ftl"/>
 
 
</div>

 
</body>
</html>
