<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="homepage.asp" />
                <remove value="html" />
                <add value="homepage.asp" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".asp" />
            <mimeMap fileExtension=".asp" mimeType="application/x-asap" />
        </staticContent>
    </system.webServer>
</configuration>
