<%@LANGUAGE="VBSCRIPT" CODEPAGE="65001"%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>相册</title>
<link rel="stylesheet" href="/css/xiangce.css"/>
<link rel="stylesheet" href="/css/header.css"/>
<link rel="stylesheet" href="/css/footer.css" />
<link rel="icon" href="/img/ico.ico"/>
</head>

<body>
<div id="xiangce_content"> 
	
 <!--#include file="../alluse/header.asp"-->
 <p>
 		hahaha 这是我放照片的地方
  </p>
  <%
		response.write("hello world!")  
  %>
 
 
 <!--#include file="../alluse/footer.asp"-->
 </div>
</body>
</html>
