/* CSS Document */
@charset "utf-8";
#footer{
	position: absolute;
	height: 53px;
	width: 100%;
	bottom: 0px;
	left:0px;
	background:url(../img/footer.jpg);
}

p#shengming{
	text-align:center;
	font-size:16px;
	
}