@charset "utf-8";
/* CSS Document */
#welcome{

	width:1024px;
	height:768px;
	position:relative;
	margin-top:8px;
	margin:0 auto;
	border:1px solid rgb(36,66,92); 
	
}
#content{
	/*background-image: url(../img/welcome.jpg);
	background-repeat:no-repeat;*/
	width: 100%;
	position: absolute;
	height: 481px;
	top: 233px;
	
}

img.welcome{
	display: block;
	position: absolute;
	left: 725px;
	top: 67px;
	height: 416px;
	width: 297px;
}

#dongtai {
	margin-top: 200px;
	width: 500px;

}

 h3.biaoti{
	width: 100px;
	height: 30px;
	color: #FF0;
	background: rgb(36,66,92);
	text-align: center;
	line-height: 30px;
	margin-top:10px;
	
}
	

