/* CSS Document */
@charset "utf-8";
body{
    padding-top:13%;
}
.out-box{
    position: relative;
    font-size:20px;
    background-color: rgb(240,240,240);
    width: 400px;
    height: 250px;
    margin:0 auto;
    border:1px solid greenyellow;
    padding-top:50px;
    padding-left:40px;
}
input.login-input{
    width:200px;
    height:30px;
    border:1px solid deepskyblue;
    margin-left:0px;
    margin-top:20px;
    float:left;

}
span.login-item{
    width:100px;
    height:30px;
    float:left;
    margin-top:20px;
}

.login-buttons {
    position:absolute;
    top: 180px;
    right:0px;
}

button {
    font-size: 16px;
    padding: 4px 4px;
}
button#submit-login {
    margin-right:40px;
    margin-left: 40px;
}
a{
    font-size:16px;
}

#warn-info {
    text-align: center;
    width: 400px;
    border: 0;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    color: dodgerblue;
    padding-left: 6%;
    margin-top: 16px;
}

