/* CSS Document */
@charset "utf-8";
body{
    padding-top:13%;
}
.out-box{
    position: relative;
    font-size:20px;
    background-color: rgb(240,240,240);
    width: 400px;
    height: 250px;
    margin:0 auto;
    border:1px solid greenyellow;
    padding-top: 40px;
}
span.login-item{
    width:100px;
    height:30px;
    float:left;
    margin-top:20px;
}

a{
    font-size:16px;
}

#warn-info {
    text-align: center;
    width: 400px;
    border: 0;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    color: dodgerblue;
    padding-left: 6%;
    margin-top: 16px;
}

.form-group {
    margin-top: 20px;
    float: left;
    margin-left: 40px;
}

input .form-control {
    width: 55%;
}

.form-group label {
    color: #3c3c3c;
}

.btn-group {
    margin-top: 20px;
}