/* CSS Document */
@charset "utf-8";
body{
    padding-top:8%;
}
.out-box{
    font-size:20px;
    background-color: rgb(240,240,240);
    width: 500px;
    height:330px;
    margin:0 auto;
    border:1px solid greenyellow;
    position:relative;
    padding-top: 10px;
}

#warn-info {
    text-align: center;
    width: 400px;
    border: 0;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    color: dodgerblue;
    padding-left: 6%;
    margin-top: 16px;
}

.form-group {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.btn-group {
    margin-top: 20px;
}

.form-group .form-control {
    width: 50%;
}
